---
import { getCollection } from "astro:content";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const allPosts = sortedPosts.slice(0, SITE.postPerIndex);
const pageCount = Math.ceil(sortedPosts.length / SITE.postPerPage);

const indexPagination: Page<CollectionEntry<"blog">> = {
  currentPage: 1,
  lastPage: pageCount,
  url: {
    current: "/posts/",
    first: "/posts/",
    last: pageCount > 1 ? `/posts/${pageCount}/` : "/posts/",
    prev: undefined,
    next: pageCount > 1 ? "/posts/2/" : undefined,
  },
} satisfies Pick<
  Page<CollectionEntry<"blog">>,
  "currentPage" | "lastPage" | "url"
>;
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" class="app-layout">
    {
      allPosts.length > 0 && (
        <section id="recent-posts" class="pb-6">
          <ul>
            {allPosts.map(data => (
              <Card variant="h3" {...data} />
            ))}
          </ul>
          <Pagination page={indexPagination} />
        </section>
      )
    }
  </main>  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
