---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"span">;
const { class: className, ...attrs } = Astro.props;
---

<span class:list={["meta-chip", className]} {...attrs}>
  <slot />
</span>
