---
import type { HTMLAttributes } from "astro/types";

type Props = {
  href: string;
  selected?: boolean;
} & HTMLAttributes<"a">;

const { href, selected = false, class: className, ...attrs } = Astro.props;
---

<a
  href={href}
  class:list={["toolbar-button", { "is-selected": selected }, className]}
  aria-current={selected ? "page" : undefined}
  {...attrs}
>
  <slot />
</a>
